.navbar{
    background: #1146a6;
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul{
    display: flex;
    gap: .8rem;
}

.navbar a{
    color: #fff;
    transition: 0.3s;
    opacity: 0.8;
}

.navbar a:hover{
    opacity: 1;
}